* {
  	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: hsl(0 5% 15%);
  color: white;
  border-top-right-radius: 10px;
}

.chat { scroll-behavior: smooth; overflow: hidden; }

li {
  margin: 0 3px;
  width: 100%;
}

.normal { color: white; }
.mod { color: white; } 
.broadcaster { color: white; }
.superadmin { font-style: italic; }
.recrutement { color: white; }
.guilde { color: white; }
.commerce { color: white; }

.author { font-weight: bold; }

img { height: 15px; width: auto; }
