* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  place-items: center;
  display: none;
  position: relative;
}

img {
  background: none;
  width: 100%;
  /* filter: chroma(color = #ffff); */
  filter: drop-shadow(1px 2px 3px black);
}

#ranking_in_tier {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  z-index: 999;
  top: 0;
  left: 0;
}

#elo {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  z-index: 999;
  bottom: 0;
  right: 0;
}
