* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weigth: 400;
}

.special .message {
  position: relative;
  color: white;
  background:linear-gradient(202deg, #fc8cbc, #2cd2fa);
}

.name {
  padding-left: 5px;
  align-slef: center;
  color: #32b4a1;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
}

.emote {
  vertical-align: middle;
  height: 15px;
}

.messageUl {
  display: flex;
  flex-direction: column;
}

.message {
  display: grid;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  padding-left: 5px;
  color: #32b4a1;
  word-wrap: break-word;
}

.bubble {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 1px;
}

.purge {
  animation: fadeOutUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

li {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
